{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bedrock</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-11 d-flex align-items-center">
            <h1 class="logo mr-auto"><a href="#">Bedrock</a></h1>
            <!-- Uncomment below if you prefer to use an image logo 
           <a href="#" class="logo mr-auto"><img src="static/base/Images/bedrock2.png" alt="BEDROCK" style="background-color:none"></a>-->

            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <!--<li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#team">Team</a></li>-->
                <li><a href="#contact">Contact Us</a></li>

              </ul>
            </nav><!-- .nav-menu -->
          </div>
        </div>

      </div>
    </header><!-- End Header -->

    <!-- ======= Intro Section ======= -->
    <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active" style="background-image: url(static/base/Images/Bedrock5.jpg)">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Bedrock Security Services</h2>
                  <p class="animate__animated animate__fadeInUp">Your Safety Is Our Business.</p>
                  <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                </div>
              </div>
            </div>

            <div class="carousel-item" style="background-image: url(static/base/Images/Bedrock2.jpg)">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Bedrock Security Services</h2>
                  <p class="animate__animated animate__fadeInUp">Your Safety Is Our Business.</p>
                  <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                </div>
              </div>
            </div>

            <div class="carousel-item" style="background-image: url(static/base/Images/Bedrock6.jpg)">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Bedrock Security Services</h2>
                  <p class="animate__animated animate__fadeInUp">Your Safety Is Our Business.</p>
                  <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                </div>
              </div>
            </div>

            <div class="carousel-item" style="background-image: url(static/base/Images/Bedrock1.jpg)">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Bedrock Security Services</h2>
                  <p class="animate__animated animate__fadeInUp">Your Safety Is Our Business.</p>
                  <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                </div>
              </div>
            </div>

            <div class="carousel-item" style="background-image: url(static/base/Images/Bedrock4.png)">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Bedrock Security Services</h2>
                  <p class="animate__animated animate__fadeInUp">Your Safety Is Our Business.</p>
                  <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section><!-- End Intro Section -->

    <main id="main">

      <!-- ======= About Us Section ======= -->
      <section id="about" style="background-color: red;">
        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h3>About Us</h3>
            <p>Bedrock Holdings Ltd was registered and started operations in 2002. We are a major private security services provider with assignments spread across the country.The company offers integrated security solutions manned and electronic security to companies, organizations, institutions, businesses and individuals.</p>
          </header>

          <div class="row about-cols">

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="about-col">
                <div class="img">
                  <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                  To be the private security services provider of choice in Eastern and Central Africa through intelligence and resource sharing.
                </p>
              </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-col">
                <div class="img">
                  <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Philosophy</a></h2>
                <p>
                  We believe in delivery of excellence and total fulfillment of clients' security and related needs, by strict adherence to integrity and loyalty.
                </p>
              </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="about-col">
                <div class="img">
                  <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>
                  To be the private security services provider of choice in Eastern and Central Africa through intelligence and resource sharing.
                </p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End About Us Section -->
      
      <section id="services" style="background-color: #dbf6e9">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h3>Our Services</h3>
          </header>
          <div class="container">
            <div class="card1">
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image1.png' %}">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">MANNED GUARDING</h4>
                  <p class="card-text">Whatever the type of premises, business or building, manned on-site security guards are very important to avoid risk to life, theft ,vandalism , and damage to property. Our Uniformed certified security guards are trained to provide not just visual deterrent to unwanted element on site, but also to ensure prevention of incidents through keen eye for detail</p>
                </div>
              </div>
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image2.png' %}" alt="Card image" style="width:100%">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">CCTV SOLUTIONS</h4>
                  <p class="card-text">Don’t miss a thing. Upgrade your home security to high definition with one of our HD CCTV packages, which can be tailored to suit your home security needs. Record true colour daytime images and crisp monochrome night-time images, capturing all the detail you need.</p>
                </div>
              </div>
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image3.png' %}" alt="Card image" style="width:100%">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">INTRUDER ALARM SYSTEMS</h4>
                  <p class="card-text">All our alarms feature state-of-the-art motion detection sensors and have been designed to be flexible and easy to operate in a wide range of environments capturing all the detail you need.</p>
                </div>
              </div>
            </div><br><br>
            <div class="card1">
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image4.png' %}">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">ELECTRIC FENCE SOLUTION</h4>
                  <p class="card-text">We Supply and install electric fences using treated wooden posts, steel (SHS) posts or concrete posts.</p>
                </div>
              </div>
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image5.png' %}" alt="Card image" style="width:100%">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">BIOMETRIC ACCESS CONTROL</h4>
                  <p class="card-text">With fingerprint identification technology, offices and secure places can be secured with bio-metric devices.</p>
                </div>
              </div>
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image6.png' %}" alt="Card image" style="width:100%">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">K9 SECURITY</h4>
                  <p class="card-text">We have several breeds of dogs that are trained in intruder detection, searching, patrolling and handling.</p>
                </div>
              </div>
            </div><br><br>
            <div class="card1">
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image7.png' %}">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">DUAL MOTION SENSORS</h4>
                  <p class="card-text">Outdoor dual technology motion sensors offer the unique combination of Doppler Microwave and Passive Infrared technology.</p>
                </div>
              </div>
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image8.png' %}" alt="Card image" style="width:100%">
                </figure>
                <div class="card-body">
                  <h4 class="card-title">INTRUDER DETECTION</h4>
                  <p class="card-text">We install and monitor remote intruder monitoring systems and provide an immediate response in the event of a security breach. </p>
                </div>
              </div>
              <div class="card" style="width:20rem;">
                <figure class="effect-lily">
                  <img class="card-img-top" src="{% static 'base/Images/image9.png' %}" alt="Card image" style="width:100%">
                </figure> 
                <div class="card-body">
                  <h4 class="card-title">PERIMETER INTRUSION DETECTION</h4>
                  <p class="card-text">Next-generation fence-mounted sensors that detect cut or climb attempts and pinpoint intrusion attempts to within 1.1m / 3.6ft.</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </section>
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="section-bg" style="background-color: #cdfffc;">
        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h3>Contact Us</h3>
            <p>Get in touch by calling, emailing, visiting or sending us a message directly by filling out the below with the correct credentials. Thank you.</p>
          </div>

          <div class="row contact-info">

            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Address</h3>
                <address>Tom Mboya Drive, Kisumu, Kenya.</address>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+155895548855">+254 723 727 101</a></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p><a href="mailto:info@bedrock.co.ke">info@bedrock.co.ke</a></p>
              </div>
            </div>

          </div>
          <center>
            <div class="col-sm-6 col-sm-offset-3">
              {% include 'base/ContactForm.html' %}
            </div>           
          </center>

        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-info">
              <h3>Bedrock Security Services</h3>
              <p>We are more than just a security company, We are your family.</p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#services">Services</a></li>
                <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>-->
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                Tom Mboya Drive, <br>
                Kisumu,<br>
                Kenya. <br>
                <strong>Phone:</strong> +254 723 727 101<br>
                <strong>Email:</strong> info@bedrock.co.ke<br>
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Bedrock</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Developed by <a href="https://henry-ndaga.herokuapp.com/">Henry Ndaga</a>
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- Vendor JS Files -->
    <script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'base/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'base/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'base/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'base/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'base/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'base/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'base/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'base/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'base/Javascript/main.js' %}"></script>

  </body>

</html>